.DS_Store
__pycache__
**render_output/
**.tar.xz
**outputs/
**.zip
**data/
**BlenderNeRF/
**slurm_outs/
**slurm_scripts/
assets/
tmp.out
**results
data
.vscode
output
*.ply
*.pyc
*.png
*.jpg
model
log
**output
**.so